[submodule "labs/cs630-qemu-lab"]
	path = labs/cs630-qemu-lab
	url = https://gitee.com/tinylab/cs630-qemu-lab.git
	branch = master
	ignore = all
[submodule "labs/linux-lab"]
	path = labs/linux-lab
	url = https://gitee.com/tinylab/linux-lab.git
	branch = master
	ignore = all
[submodule "labs/linux-0.11-lab"]
	path = labs/linux-0.11-lab
	url = https://gitee.com/tinylab/linux-0.11-lab.git
	branch = master
	ignore = all
[submodule "labs/markdown-lab"]
	path = labs/markdown-lab
	url = https://gitee.com/tinylab/markdown-lab.git
	branch = master
	ignore = all
[submodule "labs/tinylab.org"]
	path = labs/tinylab.org
	url = https://gitee.com/tinylab/tinylab.org.git
	branch = master
	ignore = all
[submodule "labs/pwn-lab"]
	path = labs/pwn-lab
	url = https://gitee.com/tinylab/pwn-lab.git
	branch = master
	ignore = all
[submodule "labs/riscv-lab"]
	path = labs/riscv-lab
	url = https://gitee.com/tinylab/riscv-lab.git
	branch = master
	ignore = all
[submodule "labs/tinylab.site"]
	path = labs/tinylab.site
	url = https://gitee.com/tinylab/tinylab.org
	branch = master
	ignore = all
[submodule "labs/arm-lab"]
	path = labs/arm-lab
	url = https://gitee.com/tinylab/arm-lab.git
