[Desktop Entry]
Encoding=UTF-8
Name=CS630 Qemu Lab
Comment=A Friendly Lab for X86 Assembly Learning
Exec=/usr/bin/terminator --working-directory=/labs/cs630-qemu-lab/ -T "Assembly Course (CS630) Lab"
Icon=/usr/share/pixmaps/terminator.png
Type=Application
