[Desktop Entry]
Encoding=UTF-8
Name=Linux Lab
Comment=A Friendly Lab for Linux Learning
Exec=/usr/bin/terminator --working-directory=/labs/linux-lab/ -T "Linux Lab"
Icon=/configs/lab-logo.png
Type=Application
