[Desktop Entry]
Encoding=UTF-8
Name=Linux Lab
Comment=A Friendly Lab for Linux Learning
Exec=/usr/bin/qterminal --workdir /labs/linux-lab/ --title "Linux Lab"
Icon=/configs/lab-logo.png
Type=Application
