[Desktop Entry]
Name=ARM Lab
GenericName=
Comment=
Exec=/bin/sh -c "if [ \"$DESKTOP\" != "lxqt" ]; then /usr/bin/xfce4-terminal; else /usr/bin/qterminal; fi"
Type=Application
Icon=/configs/lab-logo.png
Terminal=false
