[Desktop Entry]
Encoding=UTF-8
Name=TinyLab.org Lab
Comment=A Friendly Lab for jekyll website
Exec=/usr/bin/terminator --working-directory=/labs/tinylab.org/ -T "TinyLab.org Lab"
Icon=/usr/share/pixmaps/terminator.png
Type=Application
