[Desktop Entry]
Encoding=UTF-8
Name=Local Page
Comment=Local site of https://tinylab.org
Exec=/usr/bin/chromium-browser http://tinylab:8080/
Icon=/usr/share/pixmaps/chromium-browser.png
Type=Application
