[Desktop Entry]
Encoding=UTF-8
Name=Help Page
Comment=Project Home Page
Exec=/usr/bin/chromium-browser http://www.tinylab.org/markdown-lab/
Icon=/usr/share/pixmaps/chromium-browser.png
Type=Application
