[Desktop Entry]
Encoding=UTF-8
Name=Home Page
Comment=Project Home page
Exec=/usr/bin/chromium-browser http://www.linuxep.com/
Icon=/usr/share/pixmaps/chromium-browser.png
Type=Application
