[Desktop Entry]
Encoding=UTF-8
Name=Lep Lab
Comment=An open-sourced all-in-one toolbox for Linux/Android performance profiling & visualization
Exec=/usr/bin/terminator --working-directory=/labs/lep-lab/ -T "Lep Lab"
Icon=/usr/share/pixmaps/terminator.png
Type=Application
