[Desktop Entry]
Encoding=UTF-8
Name=Lep Monitor
Comment=Start lepv web monitor
Exec=chromium-browser http://localhost:8889
Icon=/usr/share/pixmaps/chromium-browser.png
Type=Application
