[Desktop Entry]
Encoding=UTF-8
Name=Linux Talents Lab
Comment=A Friendly Lab for jekyll website
Exec=/usr/bin/terminator --working-directory=/labs/linux-talents/ -T "Linux Talents Lab"
Icon=/usr/share/pixmaps/terminator.png
Type=Application
