[Desktop Entry]
Encoding=UTF-8
Name=Qing Lab
Comment=Labs Collection
Exec=/usr/bin/terminator --working-directory=/labs/ -T "Qing Lab"
Icon=/usr/share/pixmaps/terminator.png
Type=Application
