[Desktop Entry]
Encoding=UTF-8
Name=Qing Lab
Comment=Labs Collection
Exec=/usr/bin/lxterminal --working-directory=/labs/ -T "Qing Lab"
Icon=/usr/share/pixmaps/lxterminal.xpm
Type=Application
