[Desktop Entry]
Type=Application
Name=Panel
TryExec=lxqt-panel
Exec=lxqt-panel
X-LXQt-Module=true

Name[ar]=اللوحة
Name[ca]=Tauler
Name[cs]=Panel
Name[da]=Panel
Name[de]=Bedienfeld
Name[el]=Πίνακας
Name[eo]=Panelo
Name[es]=Panel
Name[es_VE]=Panel
Name[eu]=Panela
Name[fi]=Paneeli
Name[fr]=Tableau de bord
Name[hu]=Panel
Name[hu_HU]=Panel
Name[ia]=Panello
Name[it_IT]=Pannello
Name[ja]=パネル
Name[lt]=Skydelis
Name[nl]=Paneel
Name[pl]=Panel
Name[pt]=Painel
Name[pt_BR]=Painel
Name[ro_RO]=Panou
Name[ru]=панель
Name[ru_RU]=Панель
Name[sl]=Pult
Name[th_TH]=พาเนล
Name[tr]=Panel
Name[uk]=Панель
Name[zh_CN]=面板
Name[zh_TW]=面板
