[Desktop Entry]
Type=Application
Version=1.0
Name=XScreenSaver
TryExec=xscreensaver
Exec=xscreensaver -no-splash

Name[ar]=حافظ الشَّاشة
Name[cs]=Šetřič obrazovky
Name[da]=Pauseskærm
Name[de]=Bildschirmschoner
Name[el]=ΠροφύλαξηOθόνηςΧ
Name[eo]=XEkranKurteno
Name[es]=XScreenSaver
Name[es_VE]=XScreenSaver
Name[eu]=XScreenSaver
Name[fi]=XScreenSaver
Name[fr_FR]=XScreenSaver
Name[id_ID]=XScreenSaver
Name[it_IT]=XScreenSaver
Name[ja]=Xスクリーンセーバ
Name[lt]=XScreenSaver
Name[nl]=X-schermbeveiliging
Name[pl_PL]=XScreenSaver
Name[pt]=Proteção de ecrã
Name[pt_BR]=XScreenSaver
Name[ro_RO]=XScreenSaver
Name[ru]=XэкранCпаситель
Name[ru_RU]=XScreenSaver
Name[sl]=XScreenSaver
Name[sr]=Икс-ЧуварЕкрана
Name[sr@ijekavian]=Икс-ЧуварЕкрана
Name[sr@ijekavianlatin]=Iks-ČuvarEkrana
Name[sr@latin]=Iks-ČuvarEkrana
Name[th_TH]=โปรแกรมรักษาหน้าจอของX
Name[tr]=XScreenSaver
Name[uk]=XScreenSaver
Name[zh_CN]=屏幕保护程序
Name[zh_TW]=螢幕保護程式
