[Desktop Entry]
Type=Application
Name=PolicyKit Handler
TryExec=lxqt-policykit-agent
Exec=lxqt-policykit-agent
X-LXQt-Module=true

Name[ar]=معالج وحدة السِّياسة بوليسي كيت
Name[cs]=Zacházení s politikami
Name[da]=PolicyKit-håndtering
Name[de]=PolicyKit-Steuerung
Comment[de]=Authentifizierungsagent für PolicyKit
Name[el]=Διαχειριστής PolicyKit
Name[eo]=Traktilo de PolicyKit
Name[es]=Manipulador de PolicyKit
Name[es_VE]=Encargado del Kit de politicas
Name[eu]=PolicyKit maneiatzailea
Name[fi]=PolicyKit-käsittelijä
Name[fr]=Gestionnaire de PolicyKit
Name[hu]=PolicyKit-kezelő
Name[it_IT]=Gestore di PolicyKit
Name[ja]=PolicyKitハンドラ
Name[lt]=PolicyKit doroklė
Name[nl]=PolicyKit Handler
Name[pl_PL]=PolicyKit Handler
Name[pt]=Gestor de políticas
Name[pt_BR]=Manipulador PolicyKit
Name[ru]= политики комплект Обработчик
Name[ru_RU]=Обработчик PolicyKit
Name[sl]=Upravljalnik PolicyKit
Name[th_TH]=ตัวจัดการ PolicyKit
Name[tr]=PolicyKit İşleyici
Name[uk]=Маніпулятор PolicyKit
Name[zh_CN]=PolicyKit 处理器
Name[zh_TW]=PolicyKit處理器
