[Desktop Entry]
Type=Application
Name=Desktop
Exec=pcmanfm-qt --desktop
TryExec=pcmanfm-qt
X-LXQt-Module=true

Name[ar]=سطح المكتب
Name[cs]=Plocha
Name[da]=Skrivebord
Name[de]=Arbeitsfläche
Name[el]=Επιφάνεια εργασίας
Name[eo]=Labortablo
Name[es]=Escritorio
Name[es_VE]=Escritorio
Name[eu]=Mahaigaina
Name[fi]=Työpöytä
Name[fr]=Bureau
Name[hu]=Asztal
Name[ia]=Scriptorio
Name[it_IT]=Desktop
Name[ja]=デスクトップ
Name[lt]=Darbalaukis
Name[nl]=Bureaublad
Name[pl_PL]=Pulpit
Name[pt]=Área de trabalho
Name[pt_BR]=Área de trabalho
Name[ro_RO]=Desktop
Name[ru]=Pабочий стол
Name[ru_RU]=Рабочий стол
Name[sl]=Namizje
Name[th_TH]=เดสก์ท็อป
Name[tr]=Masaüstü
Name[uk]=Стільниця
Name[zh_CN]=桌面
Name[zh_TW]=桌面
