[Desktop Entry]
Type=Application
Name=Notification Daemon
TryExec=lxqt-notificationd
Exec=lxqt-notificationd
X-LXQt-Module=true

Name[ar]=بريمج الإشعارات
Name[cs]=Oznamovací démon
Name[da]=Notifikationsbaggrundsprogram
Name[de]=Benachrichtigungsdaemon
Name[el]=Υπηρεσία ειδοποιήσεων
Name[eo]=Demono de atentigoj
Name[es]=Demonio de notificaciones
Name[es_VE]=Demonio de notificaciones
Name[eu]=Jakinarazpen-deabrua
Name[fi]=Ilmoituspalvelu
Name[fr]=Démon de notification
Name[hu]=Értesítő szolgáltatás
Name[it_IT]=Demone delle notifiche
Name[ja]=通知デーモン
Name[lt]=Pranešimų tarnyba
Name[nl]=notificatie Daemon
Name[pl_PL]=Daemon Powiadomień
Name[pt]=Serviço de notificações
Name[pt_BR]=Daemon de notificação
Name[ro_RO]=Daemon de notificare
Name[ru]=демон Cообщение 
Name[ru_RU]=Служба уведомлений
Name[sl]=Obvestilnik
Name[th_TH]=ดีมอนการแจ้งเตือน
Name[tr]=Bildirim Artsüreci
Name[uk]=Демон сповіщень
Name[zh_CN]=通知服务
Name[zh_TW]=系統通知程序
